<div class=wrapper_with_padding>
<h1>New Note</h1>
<%= render 'form', note: @note %>




<!-- <%= form_for(:image, :url => {:action => 'create'}, :html => {:multipart => true}) do |f| %>
  <%= f.file_field :image %>
  <%= f.submit "Upload" %>
<% end %> -->

</div>
