<div class=wrapper_with_padding2>
<h1>Editing User</h1>

<%= render 'form', user: @user %>
<div class="actions">
	<%= link_to 'Show', @user, class: "button" %> |

	<% if session[:admin] == true %>
		<%= link_to 'Back', users_path, class: "button" %>
	<% else %>
		<%= link_to 'Back', @user, class: "button" %>
	<% end %>
	
</div>
</div>
