<div class=wrapper_with_padding2>
<h1>New User</h1>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<%= render 'form', user: @user %>
<div class="actions">
	<%= link_to 'Back', users_path, class: "button" %>
</div>
</div>
