// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#users {
	#user {
		background: white;
		width: 90%;
		height:80px;
		margin: 1rem 1%;
		margin-top: 30px;
		margin-left:2%;
		padding: 0.5rem;
		float: left;
		border-radius: .4rem;
		border-width:2px;
		border-color:#455A64;
		position: relative;
			font-weight: bold;
			color: #455A64;
			letter-spacing: 1px;
		a{
		   color: #455A64;
		}

	}
}

#name {
	width: 20%;
	padding-right: 950px;
}

@media only screen and (max-width: 1800px) {
	#name {
	width: 20%;
	padding-right: 800px;
	}
}

@media only screen and (max-width: 1600px) {
	#name {
	width: 20%;
	padding-right: 700px;
	}
}

@media only screen and (max-width: 1450px) {
	#name {
	width: 20%;
	padding-right: 600px;
	}
}

@media only screen and (max-width: 1300px) {
	#name {
	width: 20%;
	padding-right: 500px;
	}
}

@media only screen and (max-width: 1170px) {
	#name {
	width: 20%;
	padding-right: 400px;
	}
}

@media only screen and (max-width: 1030px) {
	#name {
	width: 20%;
	padding-right: 300px;
	}
}

@media only screen and (max-width: 900px) {
	#name {
	width: 20%;
	padding-right: 200px;
	}
}

@media only screen and (max-width: 750px) {
	#name {
	width: 20%;
	padding-right: 100px;
	}
}

@media only screen and (max-width: 600px) {
	#name {
	width: 20%;
	padding-right: 50px;
	}
}


