<h1>Add new notes to collection</h1>

<%= render 'form', belongs_to_collection: @belongs_to_collection %>

<%= link_to 'Show', @belongs_to_collection, class: "button" %>
<%= link_to 'Back', note_collections_path, class: "button" %>
