<h1>Editing Belongs To Collection</h1>

<%= render 'form', belongs_to_collection: @belongs_to_collection %>

<%= link_to 'Show', @belongs_to_collection %> |
<%= link_to 'Back', belongs_to_collections_path %>
