<%= javascript_include_tag 'application'%>
<%= csrf_meta_tag %>
<!-- No quitar!! -->

<h1>New Friends</h1>


	<div class="col-xs-12 col-sm-6 col-md-4">
<div class="clearfix" id="notes">
	<% if @friendships.any? %>
	    <% @friendships.each do |friends| %>
		 <% if friends.id == session[:user_id] %> <!-- Que compruebe friends.user1.id con algún metodo -->
 		    <div class="note">
			<table>
		    	<tr>
			<td><%= friends.user2 %></td>
			<td><%= link_to '', friends, method: :delete, data: { confirm: 'Are you sure?' }, class: "fas fa-trash-alt fa-2x" %></td>
			</tr>
		   	</table>
		    </div>
		<% end %>
	    <% end %>
	  <%else%>
		<th>You do not have any friendships</th>
	  <%end%>
  
	</div>
</div>
<br>
