<h1>Images#new</h1>
<p>Find me in app/views/images/new.html.erb</p>

<<<<<<< HEAD
<%= render 'form', image: @image%>
=======
<%= form_for(:image, :url => {:action => 'create'}, :html => {:multipart => true}) do |f| %> 
  <%= f.file_field :image %> 
  <%= f.submit "Upload" %> 
<% end %>
>>>>>>> ad412b8601344a38d470db0fdd6725454eddd1d3
